.header_div{
    background-color: aqua;
    color:black;
    
}
.header_div p{
    color:red;
    font-size: 12px;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    letter-spacing: 2px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Dancing Script', cursive; 
    margin-top: 30px;
    width:130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
body{
    font-family:'IM Fell English SC', serif;
    background: lightskyblue;
    text-align: center;
}


.copy_right_footer{
    position:fixed;
    bottom: 0;
    width:100%;
    font-size: 18px;
    background-color: beige;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
    color: red;
}